@font-face {
  font-family: Avenir-heavy;
  src: url(../static/fonts/avenir-lt-std/AvenirLTStd-Heavy.woff);
}

@font-face {
  font-family: Avenir-heavy-oblique;
  src: url(../static/fonts/avenir-lt-std/AvenirLTStd-HeavyOblique.woff);
}

@font-face {
  font-family: Avenir-book;
  src: url(../static/fonts/avenir-lt-std/AvenirLTStd-Book.woff);
}

@font-face {
  font-family: Avenir-Light;
  src: url(../static/fonts/avenir-lt-std/AvenirLTStd-Light.woff);
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Avenir-heavy",Helvetica;
}

h2 {
  font-size: 70px;
  width: 50%;
}

h3, p {
  color: #fff;
}

a {
  text-decoration: none;
  color: #fff;
}

#wrapper {
  margin: 0 auto;
}

header {
  display: flex;
  flex-direction: row;
  background: #7ad0f8;
  color: #fff;
  padding: 96px 5.3% 0px 5.3%;
}

section {
  padding: 19px 4%;
  color: #fff;
}

section a {
  font-family: "Avenir-heavy-oblique", Helvetica;
  font-size: 28px;
  text-align: end;
  width: 50%;
}

.greeting {
  font-family: "Avenir-book",Helvetica;
  font-size: 28px;
  margin-top: 9px;
}

.name {
  font-size: 40px;
}

img.profile {
  border-radius: 50%;
  border: 6px solid #fff;
}

.small-profile {
  width: 96px;
  height: 96px;
}

.large-profile {
  width: 131px;
  height: 131px;
  display: block;
  margin: 0 auto;
}

.date-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 25px;
}

svg#date_icon {
  width: 10%;
  padding-right: 5%;
}

#date_icon path, line, rect {
  stroke: #fff;
}
#date_icon polygon, rect {
  fill: #fff;
}

.date {
  font-family: "Avenir-heavy-oblique",Helvetica;
  font-size: 35px;
}

svg#filter {
  width: 24%;
  height: 24%;
}

svg#filter path {
  fill: #fff;
}

 section.parent-favorite, section.available-now {
  background: #7ad0f8;
}
section.top-rated{
  background: #f7a1a1;
}

section.parent-favorite-before {
  background: #88d685;
}

.category {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.sitter {
  height: 545px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

section.sitter-info {
}

ul.sitter-score {
  display: flex;
  flex-direction: row-reverse;
  list-style: none;
  color: #fff;
  text-align: right;
  font-size: 40px;
  font-family: "Avenir-Light", Helvatica;
  padding: 4%;
}

.sitter-name {
  font-size: 50px;
  text-align: center;
}

.sitters {
  color: #fff;
}

.icon {
  width: 13.8%;
  height: 96px;
}

.star-container {
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 125"><path fill="#fff" d="M77 90.4L50 76.2 23 90.4l5.2-30L6.4 39.1l30.1-4.4L50 7.4l13.5 27.3 30.1 4.4L71.8 60.4 77 90.4zM27.9 46.1L38.9 56.9l-2.6 15.2L50 64.9l13.7 7.2L61.1 56.9l11.1-10.8-15.3-2.2L50 30l-6.8 13.9L27.9 46.1z"/></svg>') no-repeat right center;
  width: 56px;
  height: 50px;
}


a.sitter-profile-link {
  display: block;
  width: 100%;
  height: 100%
}
