#login-box {
  width:33%;
  margin:36px auto;
  padding: 28px;
  text-align: center;
}

#login-box h1 {
  font-family: "Avenir-heavy",Helvetica;
  color: #7ad0f8;
  margin: 25px 0;
  font-size: 48px;
}

.radio-group {
  width: 60%;
  margin: 0 auto;
}

#login-box label {
  display: block;
  text-align: left;
}

#login-box input[type=radio] {
  margin-right: 2%;
}

#parent-register , #sitter-register{
  display:none;
}

#sitter-register{
  width:80%;
  margin: 0px auto;
}

form {
  width: 500px;
  margin: 0px auto;
  margin-bottom: 20px;
  border: 2px solid #ab9e9e;

  padding:20px;
}

form .form-group{

}

.form-group{
  margin: 0px auto;
}

#controller {
  width:80%;
  margin:0px auto;
  text-align: center;
}


.progress_wrapper {
  display: block;
  margin: 5px 0;
  border: 1px;
  width: 100%;
  height: 20px;
  background-color: grey;
  border-radius: 5px;
  text-align: center;
}

.progress_bar {
  width: 0px;
  height: 20px;
  background-color: #1fd94d;
  text-align: center;
  line-height: 21px;
  border-radius: 5px;
  font-size: 15px;
}
