@font-face {
  font-family: Avenir-heavy;
  src: url(../avenir-lt-std/AvenirLTStd-Heavy.woff);
}

@font-face {
  font-family: Avenir-heavy-oblique;
  src: url(../avenir-lt-std/AvenirLTStd-HeavyOblique.woff);
}

@font-face {
  font-family: Avenir-book;
  src: url(../avenir-lt-std/AvenirLTStd-Book.woff);
}

@font-face {
  font-family: Avenir-Light;
  src: url(../avenir-lt-std/AvenirLTStd-Light.woff);
}

@font-face {
  font-family: Avenir-light-oblique;
  src: url(../avenir-lt-std/AvenirLTStd-LightOblique.woff);
}

* {
  padding: 0;
  margin: 0;
}

header {
  margin: 0px auto;
  display: flex;
  flex-direction: row;
  color: #fff;
}

body {
  font-family: "Avenir-heavy",Helvetica;
}

a {
  text-decoration: none;
}

#wrapper {
  max-width: 754px;
  margin: 0 auto;
}

img.fullPicture {
  border: 6px solid #fff;
}

#profilePicture{
  width: 750px;
  height : 545px;
  background: url('http://res.cloudinary.com/sitters/image/upload/v1465749588/sitterFull2_bybczt.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.profilePicture p{
  font-family: "Avenir-book",Helvetica;
  font-size: 35px;
}

.profilePicture h3{
  font-family: "Avenir-heavy",Helvetica;
  font-size: 50px;
}

.knowMore p{
  font-family: "Avenir-heavy",Helvetica;
  font-size: 42px;
}
.knowMore a{
  font-family: "Avenir-light-oblique",Helvetica;
  font-size: 30px;
  text-decoration: none;
  color: #fff;
  padding-left: 15px;
  padding-top: 12px;
}

.profilePicture{
  margin-top: 85px;
  margin-left: 5.3%;
}

.knowMore{
  display: flex;
  flex-direction: row;
  margin-top: 283px;
  margin-left: 10.2%;
}

.sitterDetails{
  width: 750px;
  height: 283px;
  background: #444444;
}

.icon {
  width: 48px;
  height: 48px;
}

.dollar {
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><path d="M370.5 254c-14.7-11.3-36.7-20.7-66-28l-23-5v-97c0.7 0.7 1.3 1 2 1s1 0.3 1 1c19.3 9.3 29.7 25.3 31 48h77c-1.3-40-16.3-70.7-45-92 -18.7-14-40.7-23.3-66-28V0h-71v52c-33.3 4-59.7 14.7-79 32 -25.3 22.7-38 51.3-38 86 0 37.3 13 65 39 83 14 10 40 19.3 78 28v104c-14-4-24.7-10.3-32-19 -8-9.3-13-22-15-38h-76c0 39.3 14.3 70.3 43 93 20.7 16 47.3 26.3 80 31v40h71v-39c34.7-4.7 62.3-15.7 83-33 26.7-23.3 40-52.7 40-88C404.5 298 393.2 272 370.5 254zM210.5 204c-11.3-3.3-19.3-6.3-24-9 -12.7-6.7-19-17-19-31 0-15.3 6.3-27 19-35 6.7-4 14.7-7.3 24-10V204zM293.5 383c-3.3 1.3-7.3 2.3-12 3v-89c12.7 4 22.3 8 29 12 11.3 7.3 17 17.3 17 30C327.5 360.3 316.2 375 293.5 383z" stroke="#f7a1a1"/></svg>') no-repeat center center;
}

.family {
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 125"><path d="M78.2 58.2C81.1 55.8 83 52 83 48c0-6.9-5.6-13-12-13s-12 6.1-12 13c0 4 1.9 7.8 4.8 10.2 -1.3 0.5-2.5 1-3.7 1.7 -3.8-4.5-8.8-8-14.6-9.7C49.9 47.1 53 41.8 53 36c0-9.1-7.5-17-16-17s-16 7.9-16 17c0 5.8 3.1 11.1 7.5 14.2C16.1 53.9 7 65.4 7 79c0 1.1 0.9 2 2 2h82c1.1 0 2-0.9 2-2C93 69.4 86.8 61.2 78.2 58.2zM63 48c0-4.2 3.5-9 8-9s8 4.8 8 9c0 4.2-3.5 9-8 9S63 52.2 63 48zM25 36c0-6.1 5.1-13 12-13s12 6.9 12 13 -5.1 13-12 13S25 42.1 25 36zM11.1 77c1-13.4 12.3-24 25.9-24s24.9 10.6 25.9 24H11.1zM66.9 77c-0.3-5-1.9-9.8-4.5-13.8C65 61.8 67.9 61 71 61c9.2 0 16.9 7 17.9 16H66.9z"/></svg>') no-repeat center center;
}

.tableInfo{
  width:500px;
  height: 145px;
  margin: 0px auto;
  margin-top: 60px;
  font-family: "Avenir-book",Helvetica;
}

.tableInfo tr{
  margin: 0px auto;
}

.tableInfo td{
   text-align: center;
}

.middleRow{
  margin-top: 23px;
}

.lastRow{
  margin-top:10px;
}


.sitter-header{
  background: url('http://res.cloudinary.com/sitters/image/upload/v1465749588/sitterFull2_bybczt.png') no-repeat center center;
  width: 750px;
  height : 545px;
}

.sitterInfo {
  margin-left: 10px;
}

.reviewDate, .reviewName {
  font-size: 28px;
}

.reviewRating {
  font-family: "Avenir-Light",Helvetica;
  font-size: 30px;
}

.reviewDate {
  font-family: "Avenir-Light",Helvetica;
}

.reviewName {
  font-family: "Avenir-heavy",Helvetica;
}

.sitterInfo svg {
  position: absolute;
  top: 0;
  left: 0;
}

th.icon {
  width: 50%;
  height: 0;
  padding-top: 48%;
  position: relative;
}

th.icon svg {
  position: absolute;
  top: 0;
  left: 0;
}

.review-container {
  display: flex;
  flex-direction: row;
}

.review-text {
  padding: 30px;
  font-family: "Avenir-book",Helvetica;
  font-size: 30px;
}

.parent-picture {
  width: 145px;
  height: 145px;
}


.contact-sitter {
  height:100px;
  margin:0px auto;
  margin-top:100px;
}
.contact-sitter svg{
  width:100px;
  margin: auto;
  display: block;
}

.contact-sitter {
  text-align: center;
}

.icon-container {
  width: 50%;
  height: 0;
  padding-top: 48%;
  position: relative;
}

.contact-sitter span{
  color: #f7a1a1;
}
.contact-sitter a{
  text-decoration: none;
  color: #f7a1a1;

}

.contact-sitter a:visited{
  color: #f7a1a1;
}

.contact-sitter a:hover{
  color: #c06d6d;
}

.submit-invite{
  margin-top:106px;
  height: 100px;
  background: #f7a1a1;
  display: block;

}

.submit-invite p{
  font-size:40px;
  font-family: "Avenir-book",Helvetica;
  color: #fff;
}

.book-now{
  display: flex;
  flex-direction: row;
  margin: 0px auto;
  padding: 4% 0;
  width: 245px;
}
