@font-face {
  font-family: Avenir-heavy;
  src: url(../avenir-lt-std/AvenirLTStd-Heavy.woff);
}

@font-face {
  font-family: Avenir-heavy-oblique;
  src: url(../avenir-lt-std/AvenirLTStd-HeavyOblique.woff);
}

@font-face {
  font-family: Avenir-book;
  src: url(../avenir-lt-std/AvenirLTStd-Book.woff);
}

@font-face {
  font-family: Avenir-Light;
  src: url(../avenir-lt-std/AvenirLTStd-Light.woff);
}

@font-face {
  font-family: Avenir-light-oblique;
  src: url(../avenir-lt-std/AvenirLTStd-LightOblique.woff);
}

* {
  padding: 0;
  margin: 0;
}

header {
  color: #fff;
}

body {
  font-family: "Avenir-heavy",Helvetica;
}

a {
  text-decoration: none;
}

img.fullPicture {
  border: 6px solid #fff;
}

#profilePicture{
  height : 545px;
  background: url('http://res.cloudinary.com/sitters/image/upload/v1465749588/sitterFull2_bybczt.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.profilePicture p{
  font-family: "Avenir-book",Helvetica;
  font-size: 35px;
}

.profilePicture h3{
  font-family: "Avenir-heavy",Helvetica;
  font-size: 50px;
}

.knowMore p{
  font-family: "Avenir-heavy",Helvetica;
  font-size: 42px;
}
.knowMore a{
  font-family: "Avenir-light-oblique",Helvetica;
  font-size: 30px;
  text-decoration: none;
  color: #fff;
  padding-left: 15px;
  padding-top: 12px;
}

.profilePicture{
  padding-top: 85px;
  margin-left: 5.3%;
}

.knowMore{
  display: flex;
  flex-direction: row;
  margin-top: 283px;
  margin-left: 10.2%;
}

.sitterDetails{
  width: 750px;
  height: 283px;
  background: #444444;
}

.icon {
  width: 48px;
  height: 48px;
}

.dollar {

}

.family {
  transform: scale(-1, 1);
}

.tableInfo{
  width:500px;
  height: 145px;
  margin: 0px auto;
  margin-top: 60px;
  font-family: "Avenir-book",Helvetica;
}

.tableInfo tr{
  margin: 0px auto;
}

.tableInfo td{
   text-align: center;
}

.middleRow{
  margin-top: 23px;
}

.lastRow{
  margin-top:10px;
}


.sitter-header{
  background: url('http://res.cloudinary.com/sitters/image/upload/v1465749588/sitterFull2_bybczt.png') no-repeat center center;
  width: 750px;
  height : 545px;
}

.sitterInfo {
  margin-left: 10px;
}

.reviewDate, .reviewName {
  font-size: 28px;
}

.reviewRating {
  font-family: "Avenir-Light",Helvetica;
  font-size: 30px;
}

.reviewDate {
  font-family: "Avenir-Light",Helvetica;
}

.reviewName {
  font-family: "Avenir-heavy",Helvetica;
}

.sitterInfo svg {
  position: absolute;
  top: 0;
  left: 0;
}

th.icon {
  width: 56px;
  height: 52px;
  position: relative;
}

th.icon svg {
  position: absolute;
  top: 0;
  left: 0;
}

.review-container {
  display: flex;
  flex-direction: row;
}

.reviewsList {
  padding: 4%;
}

.review-details {
  padding-left: 2%;
}

.review-text {
  padding: 30px;
  font-family: "Avenir-book",Helvetica;
  font-size: 30px;
}

.parent-picture {
  width: 145px;
  height: 145px;
}


.contact-sitter {
  height:100px;
  margin:0px auto;
  margin-top:100px;
}
.contact-sitter svg{
  width:100px;
  margin: auto;
  display: block;
}

.contact-sitter {
  text-align: center;
}

.icon-container {
  width: 50%;
  height: 0;
  position: relative;
}

.contact-sitter span{
  color: #f7a1a1;
}
.contact-sitter a{
  text-decoration: none;
  color: #f7a1a1;

}

.contact-sitter a:visited{
  color: #f7a1a1;
}

.contact-sitter a:hover{
  color: #c06d6d;
}

.submit-invite{
  margin-top:106px;
  height: 100px;
  background: #f7a1a1;
  display: block;

}

.submit-invite p{
  font-size:40px;
  font-family: "Avenir-book",Helvetica;
  color: #fff;
}

.book-now {
  text-align: center;
}

.book-now p {
  display: inline-block;
}

